
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<电商.Areas.Admin.Models.Product> list = ViewBag.list;
    string search = ViewBag.search;

}
<section class="wrapper">
    <h3>
        <i class="fa fa-angle-right"></i>
        <a href="/admin/admin/list">商品管理</a>
    </h3>
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">
            
                <div style="position:relative">
                    <form action="/admin/admin/index" method="post">
                        <input type="text" name="search" value="@search" /> <input type="submit" value="查找" class="btn btn-primary" />
                    </form>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="content-panel">
                                <h4><i class="fa fa-angle-right"></i>产品清单</h4>
                                <hr>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>图片</th>
                                            <th class="numeric">价格</th>
                                            <th class="numeric">库存</th>
                                            <th>类别 </th>
                                            <th>操作</th>   
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        @foreach(电商.Areas.Admin.Models.Product item in list){
                                             <tr>
                                                 <td>@item.name</td>
                                                 <td><a href="/upload/@item.pic"><img src="/upload/@item.pic" style="width:20px;height:20px;" /></a></td>
                                                 <td>￥ @item.price</td>
                                                 <td class="numeric">@item.num</td>
                                                 <td>@item.Category.Name</td>
                                                 <td>
                                                     <a href="/admin/admin/edit?id=@item.id" ><i class="fa fa-pencil"></i></a>
                                                     <a  href="javascript:del(@item.id)" style="padding:30px"><i class="fa fa-trash-o "></i></a>
                                                 </td>
                                            </tr>
                                         }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
             
            </div>
        </div><!-- col-lg-12-->
    </div><!-- /row -->

</section><! --/wrapper -->
<script type="text/javascript">
    function del(id) {
        var result = window.confirm("是否删除");
        if (result) {
            location.href = "/admin/admin/del?Id=" + id;
        }
    }
</script>


