@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<电商.Areas.Admin.Models.person> list = ViewBag.list;
    string search = ViewBag.search;

}
<section class="wrapper">
    <h3>
        <i class="fa fa-angle-right"></i>
        <a href="/admin/admin/index">用户</a>
    </h3>
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">

            <div style="position:relative">
                <form action="/admin/admin/index" method="post">
                    <input type="text" name="search" value="@search" /> <input type="submit" value="查找" class="btn btn-primary" />
                </form>
                <div class="row">

                    <div class="col-md-12">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i>用户列表</h4>
                            <hr>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>用户编号</th>
                                        <th>姓名</th>
                                        <th>号码</th>
                                        <th>工作</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (电商.Areas.Admin.Models.person item in list)
                                    {
                                        <tr>
                                            <td>@item.id</td>
                                            <td>@item.name</td>
                                            <td>@item.phone</td>
                                            <td>@item.work</td>
                                            <td>
                                                <a href="/admin/admin/edit?id=@item.id"><i class="fa fa-pencil"></i></a>
                
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- col-lg-12-->
    </div><!-- /row -->

</section><! --/wrapper -->
<script type="text/javascript">
    function del(id) {
        var result = window.confirm("是否删除");
        if (result) {
            location.href = "/admin/admin/del?Id=" + id;
        }
    }
</script>


